



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 0;
}

.loginAndCartWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88.68px;
    margin-right: 40px;

}



.HeroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #F09A1F;
}

.websiteInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}



.siteName p{
    color: #FFF;
font-family: Dubai;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.88px;
}

.siteSlogan p{
    color: #FFF;
font-family: Dubai;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.84px;
}


/* Products Navigation */
