









.HeroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #F09A1F;
}

.websiteInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}



.siteName p{
    color: #FFF;
font-family: Dubai;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.88px;
}

.siteSlogan p{
    color: #FFF;
font-family: Dubai;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.84px;
}


/* Products Navigation */

.productsNavigation{
    background-color: #FBF9F9;
    margin-top: 30px;
    border-radius: 10px;
    
}

.productsLinkWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
    width: 100%;
    height: 90px;
}

.productsLists{
    color: #000;
font-family: Dubai;
font-size: 28px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.84px;

}
    /* color: #000;
font-family: Dubai;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.84px;
list-style: none; */
/* width: 100%;
color: #000;
font-family: Dubai;
font-size: 28px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.84px;
list-style: none;
text-align: center;
} */

.productsLinkWrapper li:first-child{
    margin-left: 72px;
}

.productsLinkWrapper li:last-child{
    margin-right: 71px;
}


.productWrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    /* background-color: red; */
}

.otherPages{
    display: flex;
    justify-content: center;
    align-items: center;
}

.otherPages ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    list-style: none;
}

.otherPagesLinkWrapper li{
   
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000;
font-family: Dubai;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 30px;
height: 30px;
border-radius: 50%;
/* letter-spacing: 1.08px; */
}

.otherPagesLinkWrapper li:first-child{
    background-color: white;
}



/* Card */
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 570px;
    border-radius: 20px;
    margin-top: 50px;
    
    background-color: #FEFCFC;
}

.imgWrapper{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    background-color: grey;

}



.productName{
    color: #000;
font-family: Dubai;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.44px;
}

.productPrice{
    color: #000;
font-family: Dubai;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.44px;
}


button{
    height: 50px;
    width: 300px;
    display: inline-flex;
    padding: 4px 88px 5px 87px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
border: 1px solid var(--1, #F09A1F);
}


/* Pagination */

.paginationBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 439px;
    height: 50px;
    margin-top: 56px;
}

.backArrowDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #F3F3F3;
}

.otherPages{
    width: 333px;
    height: 50px;
    border-radius: 30px;
    background-color: #EEEAEA;
}

.forwardArrowDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #F3F3F3;
}



/* Mobile Screen */


